/* Start Global Variables  */
:root {
   --primary-color: #10cab7;
   --light-background: #f6f6f6;
   --light-text-color: #ebeced;
   --font-color: #777;
   --Dark-Grey-Blue: #2c4755;
   --section-padding: 60px;
   --section-margin: 80px;
}
/* End Global Variables  */

/* Start Component  */
.special-header {
   font-size: 80px;
   color: var(--light-text-color);
   text-align: center;
   font-weight: 800;
   letter-spacing: -3px;
}

.special-header + p {
   text-align: center;
   margin: -25px 0 0 0;
   color: #666;
   font-size: 17px;
}

.my-paragraph {
   color: #777;
   line-height: 1.5;
   font-weight: 300;
}

.grid-3 {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/* End Component  */

/* Start Global Rules  */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Work Sans", sans-serif;
}
.container {
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto 0 auto;
}

@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}

@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}

@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}
/* End Global Rules  */

/* Header start  */
header {
   padding: 20px;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .container .logo {
   width: 65px;
}

header .container .links {
   position: relative;
}

header .container .links:hover ul {
   display: block;
}
header .container .links .list-icon {
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   width: 30px;
}

header .container .links .list-icon span {
   margin-bottom: 5px;
   background-color: #333;
   height: 2px;
}

header .container .links .list-icon:hover span:nth-child(2) {
   width: 100%;
}

header .container .links .list-icon span:first-of-type {
   width: 100%;
}

header .container .links .list-icon span:nth-of-type(2) {
   width: 60%;
   transition: 0.3s;
}

header .container .links .list-icon span:last-of-type {
   width: 100%;
}

header .container .links ul {
   list-style: none;
   padding: 0;
   margin: 0;
   background: var(--light-background);
   position: absolute;
   right: 0;
   min-width: 200px;
   top: calc(100% + 20px);
   display: none;
}

header .container .links ul::before {
   content: "";
   border-style: solid;
   border-width: 20px;
   border-color: transparent transparent var(--light-background) transparent;
   position: absolute;
   top: -37px;
   right: -6px;
}
header .container .links ul li a {
   display: block;
   text-decoration: none;
   color: #333;
   padding: 10px;
   transition: 0.3s;
}
header .container .links ul li a:hover {
   padding-left: 25px;
}

header .container .links ul li:not(:last-child) a {
   border-bottom: 1px solid #333;
}

/* Header end  */

/* Landing Start  */
.landing {
   height: calc(100vh - 66px);
   background-image: url(../images/landing.jpg);
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

.landing .intro-text {
   text-align: center;
   max-width: 100%;
   width: 300px;
}

.landing .intro-text h1 {
   font-weight: 800;
   font-size: 45px;
   color: var(--primary-color);
   margin: 0;
}

.landing .intro-text p {
   line-height: 1.7;
   font-size: 19px;
}

/* Landing End  */

/* Features Start  */
.features {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   background-color: var(--light-background);
}

.features .container {
   gap: 20px;
}

.features .container .feat {
   text-align: center;
   padding: 20px;
}
.features .container .feat i {
   color: var(--primary-color);
}
.features .container .feat h3 {
   margin: 20px 0;
   font-weight: 800;
}
.features .container .feat p {
   line-height: 1.6;
   color: #444;
   font-size: 17px;
}
/* Features End  */

/* Services Start  */
.services {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}

.services .services-content {
   gap: 20px;
   margin-top: var(--section-margin);
}

.services .services-content .srv {
   display: flex;
   margin-bottom: 40px;
}
@media (max-width: 767px) {
   .services .services-content .srv {
      flex-direction: column;
      text-align: center;
   }
}

.services .services-content .srv i {
   color: var(--primary-color);
   flex-basis: 60px;
}

.services .services-content .srv .text {
   flex: 1;
}

.services .services-content .srv .text h3 {
   margin: 0 0 20px;
}
.services .services-content .column:last-child {
   text-align: center;
   position: relative;
   width: fit-content;
}

.services .services-content .column:last-child img {
   width: 260px;
}

.services .services-content .column:last-child::after {
   content: "";
   position: absolute;
   width: 100px;
   height: calc(100% + 11px);
   background-color: #2c4755;
   right: -50px;
   top: -30px;
   z-index: -1;
}
@media (max-width: 1196px) {
   .services .services-content .column:last-child {
      display: none;
   }
}
/* Services End  */
/* Portfolio Start */
.portfolio {
   background-color: var(--light-background);
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}

.portfolio .portfolio-content {
   grid-gap: 50px;
   margin-top: var(--section-margin);
}

.portfolio .portfolio-content .card {
   background-color: white;
}

.portfolio .portfolio-content .card .info {
   padding: 20px;
}
.portfolio .portfolio-content .card img {
   max-width: 100%;
}

.portfolio .portfolio-content .card h3 {
   font-size: 18px;
   margin: 0;
}

.portfolio .portfolio-content .card p {
   font-size: 14px;
   margin: 0;
}
/* Portfolio End  */

/* About Start */
.about {
   padding-bottom: var(--section-padding + 60px);
   padding-top: var(--section-padding);
}

.about .about-content {
   margin-top: var(--section-margin);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

@media (max-width: 991px) {
   .about .about-content {
      flex-direction: column;
      text-align: center;
   }
}

.about .about-content .image {
   position: relative;
   width: 250px;
   height: 375px;
}

@media (max-width: 991px) {
   .about .about-content .image {
      margin: 0 auto 80px;
   }
}

.about .about-content .image img {
   max-width: 100%;
}
.about .about-content .image::before {
   content: "";
   background-color: var(--light-text-color);
   position: absolute;
   height: 435px;
   width: 100px;
   z-index: -1;
   top: -30px;
   left: -25px;
}

.about .about-content .image::after {
   content: "";
   position: absolute;
   width: 120px;
   height: 300px;
   border-left: 80px solid var(--primary-color);
   border-bottom: 80px solid var(--primary-color);
   z-index: -1;
   right: -155px;
   top: -30px;
}

.about .about-content .text {
   flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
   font-weight: bold;
   line-height: 2;
   margin-bottom: 50px;
}
.about .about-content .text hr {
   width: 50%;
   border-color: var(--primary-color);
   display: inline-block;
}
.about .about-content .text p:last-of-type {
   line-height: 2;
   color: #444;
}
/* About End   */

/* Contact Start */
.contact {
   background-color: var(--light-background);
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
}

.contact .info {
   padding-top: var(--section-padding);
   padding-bottom: var(--section-padding);
   display: flex;
   justify-content: center;
   align-content: center;
   flex-flow: column wrap;
}

.contact .info .label {
   margin: 0;
   font-size: 35px;
   font-weight: 800;
   letter-spacing: -2px;
   color: var(--Dark-Grey-Blue);
   margin-bottom: 15px;
}

.contact .info .link {
   font-size: 35px;
   text-decoration: none;
   color: var(--primary-color);
   font-weight: 800;
   text-align: center;
}

@media (max-width: 767px) {
   .contact .info .link,
   .contact .info .label {
      font-size: 25px;
   }
}
.contact .info .social {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 10px;
}
.contact .info .social p {
   font-weight: 400;
}
.contact .info .social i {
   color: var(--Dark-Grey-Blue);
}
/* Contact End  */
/* Footer Start  */
footer {
   background-color: var(--Dark-Grey-Blue);
   text-align: center;
   padding: 10px 0;
   color: white;
}

footer span {
   color: var(--primary-color);
   font-weight: bold;
}
/* Footer End   */
